@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
  .card{
    border: solid;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    height: 400px;
    padding: 20px;
    align-items: center;
    background-color: aquamarine;

  }

  .card:hover {
    background-color: greenyellow;
    color: black;
    border: none;
  }
  .imgBox{
    width: 220px;
    height: 220px;
    background-color: antiquewhite;
    margin-left: 30px;
    border-radius: 20px;

    


  }
  .imgBox img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .text p{
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
  #name{
    margin-bottom: -20px;
  }
  #price{
    margin-bottom: -10px;
  }